@page "/collection"

@using sum200_project_stargazer.Model
@using sum200_project_stargazer.Data
@using CommunityToolkit.Maui.Alerts;
@using CommunityToolkit.Maui.Core;

@inject DbService db
@inject IJSRuntime js

<div>
    @if (_collectionList != null)
    {
        foreach (var list in _collectionList)
        {
            if (!_listVisibilityStates.ContainsKey(list.Id))
            {
                _listVisibilityStates[list.Id] = true;
            }
            if (!_optionsVisibilityStates.ContainsKey(list.Id))
            {
                _optionsVisibilityStates[list.Id] = false;
            }
            <div class="collection-list-container">
                <div class="collection-list-title">
                    <div class="collection-list-title-text">@list.Title</div>
                    @if (_optionsVisibilityStates[list.Id])
                    {
                        <div class="collection-list-btn-container">
                            <a href="collection/editlist/@list.Id">
                                <div class="collection-list-edit-btn">
                                    <img class="collection-list-btn-img" src="Images/edit.svg" alt="Icon" />
                                </div>
                            </a>
                            <div class="collection-list-delete-btn" @onclick="DeleteList(list)">
                                <img class="collection-list-btn-img" src="Images/delete.svg" alt="Icon" />
                            </div>
                        </div>                            
                    }
                    <div class="collection-list-title-btn-container">
                        <button class="collection-list-title-options" @onclick="() => ToggleOptionsBtnVisibility(list.Id)">
                            <img class="collection-list-title-options-img" src="Images/options.svg" alt="Icon" />
                        </button>
                        <button class="collection-list-toggle-btn" @onclick="() => ToggleCollectionListVisibility(list.Id)">
                            @if (_listVisibilityStates[list.Id])
                            {
                                <img class="collection-list-toggle-btn-img" src="Images/arrow-up.svg" alt="Icon" />
                            }
                            else
                            {
                                <img class="collection-list-toggle-btn-img" src="Images/arrow-down.svg" alt="Icon" />
                            }
                        </button>
                    </div>
                </div>
                @if (_listVisibilityStates[list.Id])
                {
                    <div class="collection-list-img-container">
                        @{
                            var imageCount = 0;
                            @foreach (var image in _collectionImages)
                            {
                                @if (image.CollectionListId == list.Id)
                                {
                                    imageCount++;
                                    <a href="collection/@image.Id">
                                        <div class="image-container">
                                            <img class="apod-image" src="@image.Url" alt="Image" />
                                        </div>
                                    </a>
                                }
                            }
                            if (imageCount == 0)
                            {
                                <div class="collection-empty">
                                    <em>This list is empty</em>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
        }
    }
    @if (_imageCount != 0)
    {
        @foreach (var image in _collectionImages)
        {
            @if(image.CollectionListId == null)
            {
                <a href="collection/@image.Id">
                    <div class="image-container">
                        <img class="apod-image" src="@image.Url" alt="Image" />
                    </div>
                </a>                    
            }
        }
    }
    else
    {
        <div class="loading">
            <em>Your Collection is Empty</em>
        </div>
    }
    <a href="collection/createlist">
        <div class="create-btn">
            <img class="create-btn-img" src="Images/add.svg" alt="Icon" />
        </div>
    </a>
</div>

@code {
    private List<ApodImage> _collectionImages;
    private List<CollectionList> _collectionList;
    private int _imageCount;
    private Dictionary<string, bool> _listVisibilityStates = new Dictionary<string, bool>();
    private Dictionary<string, bool> _optionsVisibilityStates = new Dictionary<string, bool>();

    protected override async Task OnInitializedAsync()
    {
        _collectionImages = await db.GetImages();
        _imageCount = _collectionImages.Count();
        _collectionList = await db.GetCollectionLists();
    }

    private void ToggleCollectionListVisibility(string id)
    {
        //Change the visibility of individual collection lists to minimize
        _listVisibilityStates[id] = !_listVisibilityStates[id];
    }

    private void ToggleOptionsBtnVisibility(string id)
    {
        //Change the visibility of the buttions in the individual collection lists to minimize
        _optionsVisibilityStates[id] = !_optionsVisibilityStates[id];
    }

    private EventCallback DeleteList(CollectionList collectionListItem)
    {
        return EventCallback.Factory.Create(this, async () =>
        {
            bool confirm = await js.InvokeAsync<bool>("confirmDelete", new object[] { "Are you sure you want to delete this list?" });
            if (confirm)
            {
                bool success = await db.DeleteCollectionList(collectionListItem);

                if (success)
                {
                    var toast = Toast.Make("List deleted", ToastDuration.Short, 14);
                    await toast.Show();
                    // Refresh the page
                    _collectionList = await db.GetCollectionLists();
                    _collectionImages = await db.GetImages();
                }
                else
                {
                    var toast = Toast.Make("List could not be deleted", ToastDuration.Short, 14);
                    await toast.Show();
                }
            }
        });
    }
}