.title-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px solid forestgreen;
    border-radius: 10px;
    margin-bottom: 1rem;
    height: 3rem;
}

.title-bar-img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    filter: invert(37%) sepia(63%) saturate(816%) hue-rotate(75deg) brightness(98%) contrast(86%);
}

.title-bar-text {
    font-size: 1.2rem;
    color: forestgreen;
    margin-right: 2rem;
}

.list-management-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.list-management-input {
    background-color: #262626;
    color: white;
    border: 3px solid darkgoldenrod;
    height: 2.5rem;
    border-radius: 10px;
    padding: 0.5rem;
}

.create-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: forestgreen;
    border-radius: 20px;
    border: none;
}

.create-btn-img {
    width: 2rem;
    height: 2rem;
    margin: 0.3rem;
    margin-left: 0.5rem;
}

.create-btn-text {
    font-size: 1.2rem;
    color: black;
    margin-right: 0.8rem;
}

.list-name-suggestions {
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: 3px dashed darkgoldenrod;
    border-radius: 10px;
}

.list-name-suggestions-ex {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.return {
    position: fixed;
    bottom: 9rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgoldenrod;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.return-img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}