@page "/gallery"

@using Hv.Sum200.Stargazer.Model
@using Hv.Sum200.Stargazer.Data
@using CommunityToolkit.Maui.Alerts;
@using CommunityToolkit.Maui.Core;

@inject ApiService RandomImages
@inject DbService db

<div>
    <div>
        @if (_randomImages != null)
        {
            @foreach(var image in _randomImages)
            {
                <a href="gallery/@image.Id">
                    <div class="image-container">
                        <img class="apod-image" src="@image.Url" alt="Image" />
                    </div>
                </a>
            }
            <div class="refresh-btn" @onclick="RefreshGallery()">
                <img class="refresh-btn-img" src="Images/refresh.svg" alt="Icon" />
            </div>
        }
        else
        {
            <div class="loading">
                <img class="loading-image" src="Images/circle-dashed.svg" alt="" />
                <em>Loading...</em>
            </div>
        }
    </div>
</div>

@code {
    private List<ApodImage> _randomImages;

    protected override async Task OnInitializedAsync()
    {
        _randomImages = await RandomImages.GetGalleryApod();
    }

    private EventCallback RefreshGallery()
    {
        return EventCallback.Factory.Create(this, async () =>
        {
            _randomImages = await RandomImages.ForceGalleryRefresh();
        });
    }
}
