@inherits LayoutComponentBase

<div class="page">

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div class="bottom-container">
        <MusicMenu />
        <NavBar />
    </div>

</div>
