@using Hv.Sum200.Stargazer.Data

@inject IJSRuntime JSRuntime

<div class="action-container">

    <div class="action-btn" @onclick="ToggleActionBar">
        <img src="Images/music.svg" alt="Music" />
    </div>

    <div class="action-bar" style="@_actionBarStyle">
        <div class="action-bar-btn-left">
            <img src="Images/previous.svg" alt="Prev" @onclick="PlayPreviousTrack" />
        </div>
        <div class="action-bar-btn-center">
            <img src=@_playingIcon alt="Play/Pause" @onclick="TogglePlay" />
        </div>
        <div class="action-bar-btn-center">
            <img src="Images/next.svg" alt="Next" @onclick="PlayNextTrack" />
        </div>
        <div class="action-bar-btn-right"></div>
    </div>

    <div class="action-anchor"></div>

</div>

<audio id="audio-player" @onended="OnAudioEnded">
    <source id="audio-player-source" />
</audio>

@code {
    private bool _isActionBarVisible = false;
    private string _actionBarStyle => _isActionBarVisible ? "display: flex;" : "display: none;";

    private void ToggleActionBar()
    {
        _isActionBarVisible = !_isActionBarVisible;
    }

    private bool _isPlaying = false;
    private string _playingIcon => _isPlaying ? "Images/pause.svg" : "Images/play.svg";
    private int _currentTrackIndex = 0;

    private List<string> _tracks = new List<string>
    {
        //Must match the path in the wwwroot folder
        "/Audio/alphacentauri.ogg",
        "/Audio/creationandbeyond.ogg",
        "/Audio/deepspacetravels.ogg",
        "/Audio/distantnebula.ogg",
        "/Audio/fasterthanlight.ogg",
        "/Audio/gravitationalconstant.ogg",
    };

    private async Task TogglePlay()
    {
        if (_isPlaying)
        {
            await JSRuntime.InvokeVoidAsync("PauseAudio");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("PlayAudio", _tracks[_currentTrackIndex]);
        }
        _isPlaying = !_isPlaying;
    }

    private async Task PlayNextTrack()
    {
        _currentTrackIndex = (_currentTrackIndex + 1) % _tracks.Count;
        if (_isPlaying)
        {
            await JSRuntime.InvokeVoidAsync("PlayAudio", _tracks[_currentTrackIndex]);
        }
    }

    private async Task PlayPreviousTrack()
    {
        _currentTrackIndex = (_currentTrackIndex - 1 + _tracks.Count) % _tracks.Count;
        if (_isPlaying)
        {
            await JSRuntime.InvokeVoidAsync("PlayAudio", _tracks[_currentTrackIndex]);
        }
    }

    private async Task OnAudioEnded()
    {
        await PlayNextTrack();
    }
}
